.banner {
  border-top: solid 1px #222628;
  box-shadow: inset 0px 1px 0px 0px #3e484a;
  padding: 35px 0 35px 0;
  color: #fff;
}

.banner .bordered-feature-image {
  margin-bottom: 0;
}

.banner p {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.25em;
  padding-right: 1em;
  margin: 0 0 1em 0;
}

.button-large {
  background-image: -webkit-linear-gradient(top, #ed391b, #ce1a00);
  display: inline-block;
  background-color: #ed391b;
  color: #fff;
  text-decoration: none;
  font-size: 1.75em;
  height: 2em;
  line-height: 2.125em;
  font-weight: 300;
  padding: 0 45px;
  outline: 0;
  border-radius: 10px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75),
    inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5),
    inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85),
    3px 3px 3px 1px rgba(0, 0, 0, 0.15);
}

.button-large:hover {
  background-image: -webkit-linear-gradient(top, #fd492b, #de2a10);
  background-color: #fd492b;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75),
    inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5),
    inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85),
    3px 3px 3px 1px rgba(0, 0, 0, 0.15);
}

.button-large:active {
  background-image: -webkit-linear-gradient(#ce1a00, #ed391b);
  background-color: #ce1a00;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75),
    inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5),
    inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85),
    3px 3px 3px 1px rgba(0, 0, 0, 0.15);
}

.bordered-feature-image {
  display: block;
  background: #fff url("../../../../../assets/image/icon-background.png");
  padding: 10px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
  margin: 0 0 1.5em 0;
  outline: 0;
}
.bordered-feature-image img {
  display: block;
  width: 100%;
}
