.content {
  background: #f7f7f7 url("../../../../../assets/image/icon-background.png");
  border-top: solid 1px #fff;
  padding: 45px 0 45px 0;
}

.content section {
  background: #fff;
  padding: 40px 30px 45px 30px;
  box-shadow: 2px 2px 2px 1px rgba(128  , 128, 128, 0.1);
  margin: 0 0 25px 0;
}

.content h2 {
  font-size: 1.8em;
  color: #373f42;
  margin: 0 0 0.25em 0;
}

.content h3 {
  color: #96a9b5;
  font-size: 1.25em;
}

.content a {
  color: #ed391b;
}

.content header {
  margin: 0 0 2em 0;
}

.content .quote-list li {
  border-bottom: solid 1px #e2e6e8;
}

.content .link-list li {
  border-bottom: solid 1px #e2e6e8;
}

.content .check-list li {
  border-bottom: solid 1px #e2e6e8;
}

.link-list li {
  padding: 0.2em 0 0.2em 0;
}

.link-list li:first-child {
  padding-top: 0;
  border-top: 0 !important;
}

.link-list li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.quote-list li {
  padding: 1em 0 1em 0;
  overflow: hidden;
}

.quote-list li:first-child {
  padding-top: 0;
  border-top: 0;
}

.quote-list li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.quote-list li img {
  float: left;
}

.quote-list li p {
  margin: 0 0 0 90px;
  font-size: 1.2em;
  font-style: italic;
}

.quote-list li span {
  display: block;
  margin-left: 90px;
  font-size: 0.9em;
  font-weight: 400;
}

.check-list li {
  padding: 0.7em 0 0.7em 45px;
  font-size: 1.2em;
  background: url("../image/icon-checkmark.jpg") 0px 1.05em no-repeat;
}

.check-list li:first-child {
  padding-top: 0;
  border-top: 0;
  background-position: 0 0.3em;
}

.check-list li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
